{
  "development": {
    "port": 3000,
    "database": {
      "host"     : "localhost",
      "host"     : "localhost",
      "user"     : "golf",
      "password" : "golf",
      "database" : "golf_programming"
    }
  },
  "production" : {
    "port": 80,
    "database": {
      "host"     : "localhost",
      "host"     : "localhost",
      "user"     : "golf",
      "password" : "golf",
      "database" : "golf_programming"
    }
  }
}
