extends layout

block content

  table.table.table-striped.table-hover
   thead: tr
     th №
     th Задание
     th Автор
   tbody
     each task,i in tasks
       tr
        td #{i+1}
        td: a(href='/task/'+task.ID_TASK) #{task.TASKNAME}
        td #{task.NICKNAME}
