doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/HoldOn.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-dialog.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/javascripts/bootstrap-dialog.js')
    script(src='/javascripts/HoldOn.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body

    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/') Golf Programming
        ul.nav.navbar-nav
          li: a(href='#') Топ пользователей
          li: a(href='#') Контакты
        button.btn.btn-primary.navbar-btn(type="button") Press Alex Tsiganov
        ul(class='nav navbar-nav navbar-right')
          li: a(href='#')
              span(class='glyphicon glyphicon-user')
              |   Регистрация
          li: a(href='/login')
              span.glyphicon.glyphicon-log-in
              |   Логин

  block content
