extends layout

block content

	#container
		h1 Регистрация и вход
		p Введите имя пользователя и пароль. Если такого пользователя не существует - он будет создан.

		form.form-signin(name="login-form", action="/login", method="post")
			div.form-group
				label.col-lg-2.control-label(for="input-username") Имя
				br
				div.col-lg-10
					input.form-control(id='input-username' type="text",  name="username", placeholder="Имя пользователя")
			div.form-group
				label.col-lg-2.control-label(for="input-password") Пароль
				br
				div.col-lg-10
					input.form-control(id='input-password', type="password", name="password", placeholder="Пароль")
			div.form-group
				div.ol-lg-offset-2.col-lg-10
					button.btn.btn-lg.btn-primary.btn-block(type="submit", data-loading-text="Отправляю...") Войти
					span.help-block.error
	script(type='text/javascript').
		$(document.forms['login-form']).on('submit', function() {
			var form = $(this);

			$('.error', form).html('');
			$(":submit", form).button("loading");

			$.ajax({
				url: "/login",
				data: form.serialize(),
				method: "POST",
				complete: function() {
					$(":submit", form).button("reset");
				},
				statusCode: {
					200: function() {
						form.html("Вы вошли в сайт").addClass('alert-success');
						window.location.href = "/";
					},
					403: function(jqXHR) {
						console.log(jqXHR.responseText);
						var error = JSON.parse(jqXHR.responseText);
						$('.error', form).html(error.message);
					}
				}
			});
			return false;
		});
