extends layout

block content

 table.table.table-striped.table-hover
  thead: tr
    th  №
    th  Пользователь
    th  Количество решений
    th  Последнее решение
    th  Сумма баллов
  tbody
    each toplists, i in toplist
      tr
        td #{i+1}
        td #{toplists.NICKNAME}
        td #{toplists.CNT}
        td Калькулятор
        td #{toplists.SUMPOINTS}
