extends layout

block content

 table.table.table-striped
  thead: tr
    th  №
    th  Пользователь
    th  Количество решений
    th  Последнее решение
  tbody
    tr
      td 1       
      td Admin 
      td 123
      td Факториал
    tr
      td 2
      td User1
      td 12
      td Матрицы